* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

/* HEADER */

header {
    background: #06113C;
    overflow: hidden;
    width: 100%;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 15px;
    min-width: 350px;
}

.page-header #logo{
    float: left;
    width: 10rem;
}

#page-title{
    border: 0;
    margin: 0;
}

#page-title h1{
    float: left;
    color: aliceblue;
    font-size: 5rem;
    line-height: 10rem;
    margin: 0 2rem;
}

.page-header .main-nav{
    float: right;
    line-height: 10rem;
}

.page-header .main-nav a{
    background: #041985;
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.page-header .main-nav a:hover{
    background: #2196f3;
    border-radius: 20px;
}

/* FOOTER */

.info-footer{
    width: 100%;
    background-color: #06113C;
}

.info-footer .m-footer-1{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 40px 0 10px 0;
}

.info-footer .m-footer-1 .box figure{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-footer .m-footer-1 .box figure img{
    width: 100px;
}

.info-footer .m-footer-1 .info h4{
    color: aliceblue;
    text-align: center;
    font-size: 1.1rem;
}

.info-footer .m-footer-1 .box h2 {
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 25px;
}

.info-footer .m-footer-1 .box p{
    color: beige;
    margin-bottom: 10px;
}

.info-footer .m-footer-2 {
    background-color: #040c2b;
    padding: 10px 0;
    color: aliceblue;
    text-align: center;
    font-size: 1.3rem;
}

/* MAIN */

.main-container{
    border: 0.3rem solid greenyellow;
    color: aliceblue;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.container{
    width: 30%;
    height: 60rem;
}


.box1{
    background-color: red ;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: green;
}
.box4{
    background-color: yellow;
}

@media screen and (max-width:600px){
    .info-footer .m-footer-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 30px 0 10px 0;
    }
}