* {
    padding: 3px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

header {
    background: #95CD41;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

.cabecera{
    width: 100%;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

.cabecera #logo_pagina{
    width: 100px;
    vertical-align: middle;
}

header #name{
    color: aliceblue;
    font-size: 50px;
    line-height: 150px;
    float: left;
}

header nav{
    float: right;
    line-height: 150px;
}

header nav a{
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav a:hover{
    background: #db2820;
    border-radius: 50px;
}